<div class="container">
  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="form3Example1"> name</label>
          <input type="text" id="form3Example1" name="txt" placeholder="User Name" class="form-control"  [(ngModel)]="signupObj.username" />
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3">Email address</label>
      <input type="email" id="form3Example3" name="email" placeholder="Email" class="form-control"  [(ngModel)]="signupObj.email" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example4">Password</label>
      <input type="password" id="form3Example4" name="pswd" placeholder="password" class="form-control"  [(ngModel)]="signupObj.password" />
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-start mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
      <label class="form-check-label" for="form2Example33">
        Subscribe to our newsletter
      </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="onSignUp()">Sign up</button>
  </form>

</div>
